.header {
    background-color: #000;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__logo {
    /*   width: 38px;
    height: 38px;
    margin-top: 18px;
    margin-bottom: 18px; */
}

.header__button {
    /*     margin-top: 21px;
    margin-bottom: 21px; */
}